# API KEYS
GROQ_API_KEY=""
OPENROUTER_API_KEY=""
OPENAI_KEY=""

# Database Settings
DB_NAME=LegalDraftingSystemDB
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432

OLLAMA_HOST=http://127.0.0.1:11434